@font-face {
    font-family: Ubuntu;
    src: url('~@fonts/Ubuntu/woff/Ubuntu-Regular.woff') format('woff'),
        /* Modern Browsers */ url('~@fonts/Ubuntu/ttf/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Ubuntu;
    src: url('~@fonts/Ubuntu/woff/Ubuntu-Bold.woff') format('woff'),
        /* Modern Browsers */ url('~@fonts/Ubuntu/ttf/Ubuntu-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
