doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Modal
  body
    include ../partials/header
    h1 Modal
    button(data-modal-button='modal-one') Жми
    button(data-modal-button='modal-two') Жми еще
    button(data-modal-button='modal-three') Третья модалка

    div(style='width: 500px').
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci  alias excepturi iusto pariatur qui, quidem
      quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit
      amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae
        repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur
        adipisicing  elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam
        .  Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit.
        Adipisci  alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur
        cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias
        excepturi  iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate  dicta
         dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iust o
         pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum  ea
         erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur  qui,
         quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem  ipsum
         dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem  quod
         ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit  amet,
         consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea erLorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea er

    div(class='fili-modal' data-modal-id='modal-one' data-modal-show="true")
      span(class='fili-modal__close-btn' data-modal-close='close')
        include ../partials/close
      div(class='fili-modal__content' data-modal='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea error est eum fugit hic incidunt maxime nobis odit perferendis quae quasi qui quibusdam quisquam sequi voluptas, voluptate. Eveniet excepturi facilis nesciunt quia tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea error est eum fugit hic incidunt maxime nobis odit perferendis quae quasi qui quibusdam quisquam sequi voluptas, voluptate. Eveniet excepturi facilis nesciunt quia tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea error est eum fugit hic incidunt maxime nobis odit perferendis quae quasi qui quibusdam quisquam sequi voluptas, voluptate. Eveniet excepturi facilis nesciunt quia tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias excepturi iusto pariatur qui, quidem quod ratione recusandae repellat totam. Ad aspernatur cupiditate dicta dolorum ea error est eum fugit hic incidunt maxime nobis odit perferendis quae quasi qui quibusdam quisquam sequi voluptas, voluptate. Eveniet excepturi facilis nesciunt quia tenetur.
    div(class='fili-modal' data-modal-id='modal-two')
      span(class='fili-modal__close-btn' data-modal-close='close')
        include ../partials/close
      div(class='fili-modal__content' data-modal='content') Тут совсем другой лорем
    div(class='fili-modal' data-modal-id='modal-three')
      span(class='fili-modal__close-btn' data-modal-close='close')
        include ../partials/close
      div(class='fili-modal__content' data-modal='content') Третье модальное окно
    include ../partials/footer
