@import 'vars';
@import 'mixins';

.fili-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 800px;
  display: none;
  animation-duration: $mainTransition;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 10000;

  @include minWidth($tablet) {
    overflow-y: inherit;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.25;
  }

  &--is-hidden {
    display: block;
    animation-name: hideModal;
  }

  &--is-visible {
    display: block;
    animation-name: showModal;
  }

  &__content {
    height: auto;
    max-height: 350px;
    overflow-y: scroll;
    background-color: #fff;
    padding: 1.5em;

    @include minWidth($tablet) {
      max-height: 500px;
      overflow-y: inherit;
    }
  }

  &__close-btn {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    display: inline-block;
    right: 0;
    top: -1.5em;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      display: inline-block;
      height: 3px;
      border-radius: 10px;
      background-color: #fff;
    }

    &:before {
      top: 0.65em;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 0.65em;
      transform: rotate(-45deg);
    }
  }
}

.fili-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  animation-fill-mode: forwards;
  animation-duration: $mainTransition;
  z-index: 9000;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

@keyframes hideModal {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -75%);
    opacity: 0;
  }
}

@keyframes showModal {
  from {
    transform: translate(-50%, -75%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
